<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>

    <div class="col-md-9">
        <h1 class="display-4">Welcome to Overheard Club!</h1>

        <p class="lead">This is your homepage</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account">You are logged in as user "{{ account.login }}".</span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>If you want to </span>
                <a class="alert-link" (click)="login()">sign in</a><span>, you can try the default accounts:<br />-
                    Administrator (login="admin" and password="admin") <br />- User (login="user" and
                    password="user").</span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="account/register">Register a new account</a>
            </div>
        </div>

        <h2>Top funny posts for today:</h2>
        <ul class="comment" *ngFor="let post of topFunnyPosts">
            <li>
                <span class="rankings">
                    <span (click)="upRank(post, 1)">👍</span>{{post.rankOne}}
                    <span (click)="upRank(post, 2)">❤️</span>{{post.rankTwo}}
                    <span (click)="upRank(post, 3)">😂</span>{{post.rankThree}}
                    <span (click)="upRank(post, 4)">🤯</span>{{post.rankFour}}
                    <span (click)="upRank(post, 5)">😠</span>{{post.rankFive}}
                    <span (click)="upRank(post, 6)">🙄</span>{{post.rankSix}}
                    <span (click)="upRank(post, 7)">🤢</span>{{post.rankSeven}}
                    
                </span>
                <span class="username"> User "{{post.user?.firstName}}" wrote: </span>
                <a href="post/{{post.id}}/view">{{post.title}}</a>
            </li>
        </ul>

    </div>
</div>