<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="post">
            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <hr>

            <div *ngIf="post.topic">
                <h3><a [routerLink]="['/topic', post.topic?.title, 'view']">{{ post.topic?.title }}</a></h3>
            </div>

            <jhi-alert-error></jhi-alert-error>

            <p>
                <h4>{{ post.title }}</h4>
            </p>
            {{ post.user?.firstName }}

            <span>{{ post.date }}</span>
            <br>
            <br>
            <p>
                <span>{{ post.content }}</span>
            </p>
            <br>

            <button *ngIf="post.user?.email===account?.email || isAdmin()" type="button"
                [routerLink]="['/post', post.id, 'edit']" class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>

            <hr>

            <h4>Comments</h4>

            <ul style="list-style-type:none" *ngFor="let comment of comments">
                <li>
                    <br>
                    <p>{{comment.ranking}} By {{comment.user.firstName}} at {{comment.date}} wrote:</p>
                    <p>{{comment.content}} </p>
                    <hr>
                </li>
            </ul>

        </div>
    </div>
</div>