<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="post">
            <hr>

            <div *ngIf="post.topic">
                <h3><a [routerLink]="['/topic', post.topic?.title, 'view']">{{ post.topic?.title }}</a></h3>
            </div>

            <jhi-alert-error></jhi-alert-error>

            <p>
                <h4>{{ post.title }}</h4>
            </p>
            {{ post.user?.firstName }}

            <span>{{ post.date }}</span>
            <br>
            <br>
            <p>
                <span>{{ post.content }}</span>
            </p>
            <br>
            <hr>

            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button" [routerLink]="['/post', post.id, 'edit']" class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>